.expenseItem {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #f9f9f9;
}

.expensesList {
    margin-top: 20px;
}
.deleteButton{
    
    background-color: white;
    padding: 10px;
    color: red;
    border: 1px solid red;
    font-weight: 700;
    border-radius: 12px;
}